*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    background: #f1f5f8;
    height: 100vh;
}

.side-toggle{
    position: fixed;
    right: 1px;
    color: #008cff;
    background: transparent;
    border: transparent;
    font-size: 2rem;
    margin: 2rem 3rem;
    cursor: pointer;
    transition: all 0.3s linear;
    animation: bounce 2s ease-in-out infinite;
}

.side-toggle:hover{
    color: #008cff8f;
    
}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

aside{
    position: fixed;
    transition: 1s;
    display:grid;
    grid-template-rows:max-content;
    height: 100%;
    width: 100%;
    background: #fff;
    transform: translate(-100%);
}
.show-sidebar{
  transform: translate(0);
}
.side-header{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem ;
  align-items: center;
  height: fit-content;
}
h1{
  font-size: 2.1rem;
 display: inline-block;
 
}
.close-btr{
 background: transparent;
 border: transparent;
 font-size: 1.5rem;
 color: red;
transition: 1s;
}
.close-btr:hover{
  transform: rotate(360deg);
  color: rgba(255, 0, 0, 0.753);
}
a{
  text-decoration: none;
}
.link a{
  color: #777777;
}
.link a:hover{
  background: #a5d5f8;
  color: #008cff;
  padding-left: 29px;
}
ul{
  list-style: none;
}
.link a{
  font-size: 1.5rem;
  display:block;
  padding: 1.5rem ;
  transition: 1s;
  }
 .icon {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  }

  .icon i{
    color:#008cff;
    margin: 0.5rem;
  }

  .icon i:hover{
    color: #004985;
  }

  @media screen and (min-width: 676px) {
    aside {
      width: 400px;
    }
  }